nav{
    display: flex;
    justify-content: space-between;
    padding:16px 120px 16px 120px;
    background-color: #FFFFFF;
    
}
nav .text{
    display: flex;
    width: 365px;
    height: 24px;
    gap:32px;
    
}
nav .img{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    line-height: 19px;
    font-weight: 600;
    padding: 12px 16px;
}

  .image-container {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    width: 1600;
    height: 583px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}
  .image-container .bttn{
    color: #469165;
    border-radius:1000px ;
    margin-bottom:16px ;
}

.image-container .title .txt{
    font-family: 'Inter', sans-serif;

}
.image-container .txt{
    margin-bottom:32px ;
}

h1{
    font-family: Arial,sans-serif;
    font-size: 48px;
    margin: 0;
}
.line2{
    color: #469165;
    margin-bottom: 16px;
}
.aabb .a{
    margin: 16.5px 16px 16.5px 16px;
    background-color: #469165;
    color: white;
}
.aabb .b{
    background:transparent;
    color: white;
}
