nav{
    display: flex;
    justify-content: space-between;
    padding:16px 120px 16px 120px;
    background-color: #FFFFFF;
    
}
nav .text{
    display: flex;
    width: 365px;
    height: 24px;
    gap:32px;
    
}
nav .img{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    line-height: 19px;
    font-weight: 600;
    padding: 12px 16px;
}

  .image-container {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    width: 1600;
    height: 583px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}
  .image-container .bttn{
    color: #469165;
    border-radius:1000px ;
    margin-bottom:16px ;
}

.image-container .title .txt{
    font-family: 'Inter', sans-serif;

}
.image-container .txt{
    margin-bottom:32px ;
}

h1{
    font-family: Arial,sans-serif;
    font-size: 48px;
    margin: 0;
}
.line2{
    color: #469165;
    margin-bottom: 16px;
}
.aabb .a{
    margin: 16.5px 16px 16.5px 16px;
    background-color: #469165;
    color: white;
}
.aabb .b{
    background:transparent;
    color: white;
}

.notes{
    background-color: #fbfcfc;
}
.notes .notes-title{
    text-align:center ;
    
}

.cards{
    display: flex;
    justify-content: flex-start;
    
    padding: 44px 120px;
}
.box{
    background-color: white;
    border-radius: 12px;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px solid;
    margin: 20px;
}
.box .red{
    width: 32px;
    height: 32px;
    padding: 14.38px;
    border-radius: 100%;
    background-color:#F95555;
}
text-color,.card-content p, .notes-title p, .second-brain .explain .p,#ready .section-heading p {
    color: #627382;
}

.second-brain{
    display: flex;
    padding: 120px;
}

.second-brain .explain{
    padding-left: 60px;
}
.second-brain .explain .heading{
    color: #469165;
}

.second-brain .explain .p{
    padding: 16px 0px 40px 0px;
}

#ready .ready-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fbfcfc;
    padding: 0px 120px 0px 120px;
}

#ready .ready-container .section-heading{
    padding: 80px 40px
}

.footer{
    background-color: #001931;
}
.footer .footer-section{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 40px 120px;
}

.footer .footer-section{
    color: white;
}

hr{
    border: none;
    height: 0.5px;
    background-color: #2e436b;
    width: 1300px;
}

.ftr{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}